* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #212121; }

a {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

figure {
  margin: 0;
  padding: 0; }

.gutter {
  padding-left: 15px;
  padding-right: 15px; }

.alto, .row, .container, .container-fluid {
  height: 100%; }

.container, .container-fluid {
  width: 100%; }

.ancho-full {
  width: 100%;
  max-width: 1400px;
  padding: 0px;
  margin: 0 auto;
  overflow: hidden; }

.oculto {
  display: none; }

.primario {
  background: #00CA67; }

.segundo {
  background: #0E6185; }

.tercero {
  background: #242424; }

.color-primario {
  color: #00CA67; }

.color-segundo {
  color: #0E6185; }

.color-tercero {
  color: #242424; }

.color-blanco {
  color: white; }

.color-negro {
  color: #212121; }

.color-blanco {
  color: white; }

.centrado-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.parallax {
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

[class^="icon-"]::before {
  position: relative;
  top: 2px; }

.sinpadding {
  padding: 0; }

.cuerpo {
  padding-top: 3.75em;
  background-color: #FBFBFB; }

.leer-mas {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00CA67;
  color: white;
  cursor: pointer;
  border-radius: 5px; }
  .leer-mas:hover {
    background: #00a152;
    color: white; }

.pagination .page-numbers {
  background: #00CA67;
  color: white;
  padding: 5px; }
  .pagination .page-numbers:hover {
    background: #00a152; }

.pagination .current {
  background: #00a152; }

.breadcrumb {
  color: #757575;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0; }
  .breadcrumb a {
    color: #00CA67; }

.facebook {
  color: #3b5998;
  border: 1px solid #3b5998; }

.twitter {
  color: #55acee;
  border: 1px solid #55acee; }

.instagram {
  color: #e95950;
  border: 1px solid #e95950; }

ul.paginacion {
  list-style: none; }

.content {
  padding-top: 0; }

.division {
  width: 100%;
  height: 1px;
  background: #757575;
  margin-top: 15px;
  margin-bottom: 15px; }

.primary {
  background: #286090; }

.cinfo {
  background: #31B0D5; }

.warning {
  background: #EC971F; }

.success {
  background: #449D44; }

.danger {
  background: #C9302C; }

.menu_activo {
  color: white !important; }

.menu_open {
  display: block !important; }

.content-header__page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px; }

.content-header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .content-header__left h1 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 0; }

.content-header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .content-header__right .breadcrumb {
    display: inline-block;
    padding: 10px 15px;
    font-size: 13px; }

.content-header__enlace {
  margin-left: 15px; }

.content-header__icono__item {
  margin-right: 10px; }
  .content-header__icono__item span {
    font-size: 20px; }
  .content-header__icono__item:last-child {
    margin-right: 30px; }

.content__title {
  padding-right: 15px;
  padding-left: 15px; }
  .content__title h2 {
    font-size: 20px;
    color: #757575;
    margin-top: 0; }

.content__head h3 {
  font-size: 22px;
  display: inline-block; }

.content__head .headgrid__enlace {
  display: inline-block;
  margin-left: 20px; }

.steps {
  /* margin: 40px; */
  margin: 10px 0px 2px 0px;
  padding: 0;
  overflow: hidden; }

.steps a {
  color: white;
  text-decoration: none; }

.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold; }

.steps li {
  float: left;
  margin-left: 0;
  width: 200px;
  /* 100 / number of steps */
  height: 70px;
  /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px;
  /* padding around text, last should include arrow width */
  border-right: 3px solid white;
  /* width: gap between arrows, color: background of document */
  position: relative; }
  @media (min-width: 992px) {
    .steps li {
      width: 20%; } }

.steps li a {
  width: 100%;
  height: 100%;
  display: block; }

/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px; }

/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-left: 25px solid white;
  /* width: arrow width, color: background of document */
  border-top: 35px solid transparent;
  /* width: half height */
  border-bottom: 35px solid transparent;
  /* width: half height */
  width: 0;
  height: 0;
  content: " "; }

/* colored arrow to the right */
.steps li::after {
  z-index: 1;
  /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px;
  /* arrow width (negated) */
  display: block;
  border-left: 25px solid #7c8437;
  /* width: arrow width */
  border-top: 35px solid transparent;
  /* width: half height */
  border-bottom: 35px solid transparent;
  /* width: half height */
  width: 0;
  height: 0;
  content: " "; }

/* Setup colors (both the background and the arrow) */
/* Completed */
.steps li {
  background-color: #7C8437; }

.steps li.orden-trabajo {
  background-color: #EC971F; }

.steps li.orden-trabajo::after {
  border-left-color: #EC971F; }

.steps li.orden-trabajo:hover {
  background-color: #d18112; }

.steps li.orden-trabajo:hover::after {
  border-left-color: #d18112; }

.steps li.trabajo-campo {
  background-color: #0E6185; }

.steps li.trabajo-campo::after {
  border-left-color: #0E6185; }

.steps li.trabajo-campo:hover {
  background-color: #0a4660; }

.steps li.trabajo-campo:hover::after {
  border-left-color: #0a4660; }

.steps li.trabajos-laboratorio {
  background-color: #31B0D5; }

.steps li.trabajos-laboratorio::after {
  border-left-color: #31B0D5; }

.steps li.trabajos-laboratorio:hover {
  background-color: #2597b8; }

.steps li.trabajos-laboratorio:hover::after {
  border-left-color: #2597b8; }

.steps li.trabajos-finalizado {
  background-color: #00CA67; }

.steps li.trabajos-finalizado::after {
  border-left-color: #00CA67; }

.steps li.trabajos-finalizado:hover {
  background-color: #00a152; }

.steps li.trabajos-finalizado:hover::after {
  border-left-color: #00a152; }

.steps li::after {
  border-left-color: #7c8437; }

/* Current */
.steps li.current {
  background-color: #C36615; }

.steps li.current::after {
  border-left-color: #C36615; }

/* Following */
.steps li.current ~ li {
  background-color: #bcbcbc; }

.steps li.current ~ li::after {
  border-left-color: #bcbcbc; }

/* Hover for completed and current */
/*.steps li:hover {background-color: #C36615}
.steps li:hover::after {border-left-color: #C36615} */
.box-tools {
  display: inline-block;
  margin-left: 5%;
  margin-top: 5px; }

.form-solicitud {
  margin-top: 20px;
  padding-bottom: 10px; }

.contenedor-up {
  position: relative; }
  .contenedor-up:hover a {
    opacity: 1; }
  .contenedor-up__enlace {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 80px;
    height: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 32px;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s; }

.accion-solicitud {
  margin-top: 5px;
  padding-bottom: 30px;
  text-align: center; }
  .accion-solicitud button {
    margin-top: 10px; }
  @media (min-width: 768px) {
    .accion-solicitud__left button {
      float: left;
      margin-right: 5px; } }
  @media (min-width: 768px) {
    .accion-solicitud__right button {
      float: right;
      margin-left: 5px; } }

.solicitud-footer {
  margin-top: 25px;
  margin-bottom: 25px; }
  .solicitud-footer .leer-mas {
    font-size: 18px; }

.btntabla, .formaccion {
  display: inline-block; }

#dataTableNet_wrapper {
  margin-top: 20px; }

#dataTableNet_length {
  float: left;
  margin-bottom: 20px; }
  #dataTableNet_length select {
    width: 38%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; }

#dataTableNet_filter {
  float: right; }
  #dataTableNet_filter input {
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; }

#dataTableNet_paginate {
  margin-top: 10px; }
  #dataTableNet_paginate a, #dataTableNet_paginate .paginate_button {
    background: #00CA67;
    color: white;
    padding: 5px;
    cursor: pointer; }
    #dataTableNet_paginate a:hover, #dataTableNet_paginate .paginate_button:hover {
      background: #00a152; }
  #dataTableNet_paginate .current {
    background: #00a152; }

#dataTableNet_info {
  text-align: right; }

#dataTableNet_paginate {
  text-align: right; }

table.dataTable thead .sorting:after {
  opacity: 0.2;
  font-family: std;
  content: "w";
  float: right; }

table.dataTable thead .sorting_asc:after {
  font-family: std;
  content: "u";
  float: right;
  color: #757575; }

table.dataTable thead .sorting_desc:after {
  font-family: std;
  content: "v";
  float: right;
  color: #757575; }
