.steps {
  /* margin: 40px; */
  margin: 10px 0px 2px 0px;
  padding: 0;
  overflow: hidden;
}
.steps a {
  color: white;
  text-decoration: none;
}
.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
}
.steps li {
  float: left;
  margin-left: 0;
  width: 200px; /* 100 / number of steps */
  height: 70px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
  
  @media(min-width: 992px){
    width: 20%;
  }

}

.steps li a{
  width: 100%;
  height: 100%;
  display: block;
}

/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 35px solid transparent; /* width: half height */
  border-bottom: 35px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #7c8437; /* width: arrow width */
  border-top: 35px solid transparent; /* width: half height */
  border-bottom: 35px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #7C8437; }
.steps li.orden-trabajo { background-color: color(warning); }
.steps li.orden-trabajo::after { border-left-color: color(warning); }
.steps li.orden-trabajo:hover { background-color: darken(color(warning), 8); }
.steps li.orden-trabajo:hover::after { border-left-color: darken(color(warning), 8); }


.steps li.trabajo-campo { background-color: color(segundo); }
.steps li.trabajo-campo::after { border-left-color: color(segundo); }
.steps li.trabajo-campo:hover { background-color: darken(color(segundo), 8); }
.steps li.trabajo-campo:hover::after { border-left-color: darken(color(segundo), 8); }

.steps li.trabajos-laboratorio { background-color: color(cinfo); }
.steps li.trabajos-laboratorio::after { border-left-color: color(cinfo); }
.steps li.trabajos-laboratorio:hover { background-color: darken(color(cinfo), 8); }
.steps li.trabajos-laboratorio:hover::after { border-left-color: darken(color(cinfo), 8); }

.steps li.trabajos-finalizado { background-color: color(primario); }
.steps li.trabajos-finalizado::after { border-left-color: color(primario); }
.steps li.trabajos-finalizado:hover { background-color: darken(color(primario), 8); }
.steps li.trabajos-finalizado:hover::after { border-left-color: darken(color(primario), 8); }

.steps li::after { border-left-color: #7c8437; }

/* Current */
.steps li.current { background-color: #C36615; }
.steps li.current::after { border-left-color: #C36615; }

/* Following */
.steps li.current ~ li { background-color: color(gris-medio); }
.steps li.current ~ li::after { border-left-color: color(gris-medio); }

/* Hover for completed and current */
 /*.steps li:hover {background-color: #C36615}
.steps li:hover::after {border-left-color: #C36615} */

//iconos en el ultimo paso
.box-tools{
   display: inline-block;
   margin-left: 5%;
   margin-top: 5px;
}

.form-solicitud{
  margin-top: 20px;
  padding-bottom: 10px;
}

.contenedor-up{
  position: relative;
  &:hover{
    a{
      opacity: 1;
    }
  }

  &__enlace{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 80px;
    height: 50px;
    color: white;
    background: rgba(black, 0.7);
    text-align: center;
    font-size: 32px;
    opacity: 0;
    transition: opacity 0.35s;
  }
}

.accion-solicitud{
  margin-top: 5px;
  padding-bottom: 30px;
  text-align: center;
    
    button{
      margin-top: 10px;
    }

    &__left{
      
      button{
        @media(min-width: 768px){
          float: left;
          margin-right: 5px;
        }
      }      
    }

    &__right{
      button{
        @media(min-width: 768px){
          float: right;
           margin-left: 5px;
        }
      }    
    }

}

.solicitud-footer{  
  margin-top: 25px;
  margin-bottom: 25px;

  .leer-mas{
    font-size: 18px;
  }

}